/*###
CSS By u/Apechills made for r/GlobalTalk, lightly based on r/AeroTheme
V0.15.3
###*/

/*###BODY###*/
body {
    font-family: roboto, arial, verdana;
    letter-spacing: 0.2px;
}

/*###HEADER###*/

div#header {
    background-color: #81D486;
    height: 110px;
    border-bottom: none;
    position: relative;
}

div#header-bottom-left {
    position: absolute;
    bottom: 0px;
}

/*###HEADER SR AREA###*/

div#sr-header-area {
    background-color: #40A7F6;
}

div#sr-header-area .drop-choices.srdrop {
    background-color: #40A7F6;
}



div#sr-header-area * {
    color: white;
}

#RESShortcutsEditContainer, #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash {
	background: inherit !important;
}

/*###HEADER BOTTOM LEFT###*/

ul.tabmenu {
    margin: 0px;
}

ul.tabmenu li {
    margin: 0px;
}

ul.tabmenu li.selected a {
    border: none;
    background-color: #8ECAF6;
    color: black;
}

ul.tabmenu li a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0px 8px;
    background-color: #40A7F6;
    color: white;
}

/*###LOGO###*/

img#header-img {
    width: 60px;
    height: 60px;
}

/*###HEADER BOTTOM RIGHT###*/

div#header-bottom-right {
    background-color: #40A7F6;
    position: absolute;
    bottom: 0;
    padding: 0px 5px;
    height: 24px;
    line-height: 24px;
}

.res-navTop #header-bottom-right {
    color: white;
    border-radius: 0px 0px 0px 0px;
    position: absolute;
    top: auto;
    bottom: 0;
}

div#header-bottom-right * {
    color: white;
    font-weight: bold;
    font-size: 12px;
}

/*###SIDEBAR SEARCHEXPANDO###*/

div#searchexpando.infobar {
    background-color: #40A7F6;
    border: none;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    border-radius: 0px;
}

#moresearchinfo {
    display: none;
}

a#search_showmore {
    display: none;
}

#search #searchexpando label {
    padding-top: 5px;
    padding-bottom: 13px;
}

#searchexpando br {
    display: none;
}


/*###SIDEBAR LINKS###*/

div.morelink {
    border: none;
    background-image: none;
    background-color: #40A7F6;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    transition: 0.2s;
}

div.morelink:hover {
    background-image: none;
    background-color: #8ECAF6;
    -webkit-box-shadow: 4px 7px 6px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 5px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 5px 4px -1px rgba(0,0,0,0.24);
    transition: 0.2s;
}

div.morelink:active {
    transition: 0.2s;
}

.morelink a {
    color: white;
    font-family: roboto, arial, verdana;
    letter-spacing: 0px;
}

div.nub {
    display: none;
}

/*###SIDEBAR TITLEBOX###*/

div.titlebox {
    background-color: #E5E5E5;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    padding: 5px;
}

div.titlebox h1 {
    text-align: center;
    margin: 0px;
    padding: 5px 0px;
}

div.titlebox form.toggle {
    background: transparent;
}

div.leavemoderator {
    background: transparent;
}

/*###SIDEBAR CONTENTBOX###*/

div.sidecontentbox {
    background-color: #E5E5E5;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    padding: 5px;
}

div.sidecontentbox ul.content {
    border-style: none;
}

div.sidecontentbox div.title {
    font-size: 11px;
    text-align: left;
}

div.sidecontentbox ul.content ul.flat-vert.icon-menu.hover li a {
    background-color: transparent;
}

/*###SIDEBAR LINK###*/

.titlebox h4 a {
    letter-spacing: 0px;
    display: block;
    height: 29px;
    width: 250px;
    text-align: center;
    line-height: 29px;
    font-family: roboto, arial, verdana;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border: none;
    background-image: none;
    background-color: #40A7F6;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    transition: 0.2s;
    margin: 0px auto;
}

.titlebox h4 a:hover {
    background-image: none;
    background-color: #8ECAF6;
    -webkit-box-shadow: 4px 7px 6px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 5px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 5px 4px -1px rgba(0,0,0,0.24);
    transition: 0.2s;
    background-image: url(%%Discord-Logo-White%%);
}

/*###SIDEBAR DISCORD BUTTON###*/

.titlebox h4 a {
    background-image: url(%%Discord-Logo-White%%);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 2% 70%;
}

/*###LINKFLAIRS###*/

.linkflairlabel {
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.32);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.32);
}

/*###USER FLAIR###*/

.flair {
	text-indent: -9999px;
	margin-right: 3px;
	width: 16px;
	height: 11px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(%%flags%%);
	vertical-align: middle;
	border-width: 0;
	padding: 0;
	background-color: transparent;
	border-radius: 0px;
}

.flair-other {
    background: #dadada;
    text-indent: 0;
    padding: 1px 3px;
    color: black;
    vertical-align: top;
    width: auto;
    height: auto;
    -webkit-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.24);
}

.flair-mod {
    background: #94e044;
    text-indent: 0;
    padding: 1px 3px;
    color: white;
    vertical-align: top;
    width: auto;
    height: auto;
    -webkit-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.24);
}

/*###LINKFLAIR SPECIFIED###*/

.linkflair-question .linkflairlabel {
    background-color: #FF0000;
    color: white;
}

.linkflair-global .linkflairlabel {
    background-color: #FF0000;
    color: white;
}

.linkflair-unverified .linkflairlabel {
    background-color: #FF0000;
    color: white;
}

/*###FLAIR FLAGS####*/

