/*###
CSS By u/Apechills
V0.04
###*/

/*###BODY###*/
body {
    font-family: roboto, arial, verdana;
    letter-spacing: 0.2px;
}

/*###HEADER###*/

div#header {
    background-color: #81D486;
    height: 110px;
    border-bottom: none;
    position: relative;
}

div#header-bottom-left {
    position: absolute;
    bottom: 0px;
}

/*###HEADER SR AREA###*/

div#sr-header-area {
    background-color: #40A7F6;
}

div#sr-header-area * {
    color: white;
}

/*###HEADER TABMENU###*/

ul.tabmenu {
    margin: 0px;
}

ul.tabmenu li {
    margin: 0px;
}

ul.tabmenu li.selected a {
    border: none;
    background-color: #8ECAF6;
    color: black;
}

ul.tabmenu li a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0px 8px;
    background-color: #40A7F6;
    color: white;
}

/*###HEADER BOTTOM RIGHT###*/

div#header-bottom-right {
    background-color: #40A7F6;
    position: absolute;
    bottom: 0;
    padding: 0px 5px;
    height: 24px;
    line-height: 24px;
}

.res-navTop #header-bottom-right {
    color: white;
    border-radius: 0px 0px 0px 0px;
    position: absolute;
    top: auto;
    bottom: 0;
}

div#header-bottom-right * {
    color: white;
    font-weight: bold;
    font-size: 12px;
}

/*###SIDEBAR LINKS###*/

div.morelink {
    border: none;
    background-image: none;
    background-color: #40A7F6;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    transition: 0.2s;
}

div.morelink:hover {
    background-image: none;
    background-color: #8ECAF6;
    -webkit-box-shadow: 4px 7px 6px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 5px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 5px 4px -1px rgba(0,0,0,0.24);
    transition: 0.2s;
}

div.morelink:active {
    transition: 0.2s;
}

.morelink a {
    color: white;
    font-family: roboto, arial, verdana;
    letter-spacing: 0px;
}

div.nub {
    display: none;
}

/*###SIDEBAR TITLEBOX###*/

div.titlebox {
    background-color: #E5E5E5;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
}

div.titlebox h1 {
    text-align: center;
    margin: 0px;
    padding: 5px 0px;
}

div.titlebox form.toggle {
    background: transparent;
}

div.titlebox div {
    background: transparent;
}

/*###SIDEBAR CONTENTBOX###*/

div.sidecontentbox {
    background-color: #E5E5E5;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.24);
}

div.sidecontentbox ul.content {
    border-style: none;
}

div.sidecontentbox div.title {
    font-size: 11px;
    text-align: left;
}

div.sidecontentbox ul.content ul.flat-vert.icon-menu.hover li a {
    background-color: transparent;
}
